@model OFAMA.Models.Merchandise

@{
    ViewData["Title"] = "Create";
}

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!--==============レイアウトを制御する独自のCSSを読み込み===============-->
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>

<h1>新規商品データ登録</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kind" class="control-label"></label>
                <input asp-for="Kind" class="form-control" />
                <span asp-validation-for="Kind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created_yaer" class="control-label"></label>
                <input asp-for="Created_yaer" class="form-control" />
                <span asp-validation-for="Created_yaer" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-start">
                    <input type="submit" value="登録" class="btn btn-primary me-3" /> 
                    <a asp-action="Index" class="btn btn-secondary">戻る</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
