@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">このアカウントはロックアウトされました。後ほどログインをお試しください。</p>
</header>
