@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    あなたのパスワードはリセットされました。  <a asp-page="./Login">を押してログインしてください。</a>.
</p>
