@model IEnumerable<OFAMA.Models.UserViewModel>

@{
    ViewData["Title"] = "Details";
}

<h1>RoleDetails</h1>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserRoles)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                @for (int i = 0; i < item.UserRoles.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelThing => item.UserRoles[i].RoleName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelThing => item.UserRoles[i].IsInThisRole)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</div>
